body {
	background-color: steelblue;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
	font-family: monospace;
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.article {
	background-color: #ffffff;
	outline: 3px solid gray;
}

.heading {
	text-align: center;
	padding: 10px;
	margin: 0px;
	background-color: #f7f7f7;
	cursor: pointer;
}

.heading:hover {
	text-decoration: underline;
}

.content {
	padding: 0px 20px;
	margin: 0px;
	overflow: hidden;
	line-height: 20px;
	max-height: 400px;
	transition: max-height 0.3s linear;
}

.hidden {
	max-height: 0px;
}