html, body {
	height: 100%;
	width: 100%;
	background-color: #e9edef;
	margin: 0;
	padding: 0;
	cursor: default;
}

main {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 280px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.logo {
	margin: 10px;
	padding: 0px;
	font-size: 28px;
	color: #4f4f4f;
}

.line {
	margin: 10px;
	padding: 0px;
	font-size: 13px;
	color: rgb(37, 43, 51);
	font-family: 'Slabo 27px', serif;
}

.nav {
	margin: 10px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.nav-link a{
	padding: 0px;
	margin: 0px;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
	color: #4f4f4f;
	text-decoration: none;
	color: #4f4f4f;
	cursor: pointer;
	transition: box-shadow 300ms;
}

.nav-link:hover {
	box-shadow: 0px 2px 0px 0px #202328;;
}

.about-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	-webkit-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	-moz-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	transition: box-shadow 1s;
}

.about-container:hover, #projects:hover {
	box-shadow: none;
}

#about {
	padding: 20px;
}

.heading-image {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.heading {
	flex: 1;
	border-bottom: 2px black solid;
	margin-bottom: 10px;
}

.heading h3 {
    font-family: 'Teko', sans-serif;
	font-size: 36px;
	color: #4f4f4f;
	font-weight: normal;
	margin: 0px;
}

.heading p {
	margin: 0px;
 	font-size: 20px;
	color: rgb(67, 53, 61);
	font-family: 'Teko', sans-serif;
}

.image img {
	border-radius: 50%;
	height:  70px;
	-webkit-box-shadow: inset 19px -22px 21px -6px rgba(133,129,133,0.94);
	-moz-box-shadow: inset 19px -22px 21px -6px rgba(133,129,133,0.94);
	box-shadow: inset 19px -22px 21px -6px rgba(133,129,133,0.94);
}

.image i {
	font-size: 30px;
	color: #4f4f4f;

}

.details {
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4f4f4f;
}

.language {
	font-weight: bold;
}

#projects {
	margin-top: 50px;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	-moz-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	transition: box-shadow 1s;

}

.project-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project {
	margin: 10px 0px;
	height: 280px;
	flex: 1 1 280px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#calc {
	background-image: url("images/projects/calcE.jpg");
	background-position: center;
	background-size: cover;
}

#clock {
	background-image: url("images/projects/clockE.jpg");
	background-position: center;
	background-size: cover;
}

#wiki {
	background-image: url("images/projects/wikiE.jpg");
 	background-size: cover;
}

#card {
	background-image: url("images/projects/cardE.jpg");
	background-position: center;
	background-size: cover;
}

#djk {
	background-image: url("images/projects/djkE.png");
	background-position: center;
	background-size: cover;
}

.description {
	padding: 5px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #e9edef;
}

.description a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #e9edef;
}

.description a:hover {
	text-decoration: underline;
}

.description .fa-codepen, .description .fa-github {
	font-size: 23px;
	cursor: pointer;
	color: white;
}

#social {
	margin: 100px 0px 0px 0px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	background-color: black;
	-webkit-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	-moz-box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
	box-shadow: -7px 10px 16px -3px rgba(102,101,102,0.77);
}

.black-boder {
	border-bottom: 2px solid #4f4f4f;
}

.contact {
	margin: 20px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.contact a {
	color: #e9edef;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin: 5px;
	height: 48px;
	line-height: 48px;
}

.dot {
	color: #e9edef;
	margin: 10px;
}

@media screen and (min-width: 480px) {

	.page-container {
	padding: 0 50px;
	}

	.face img {
		height: 80px;
	}
}

@media screen and (min-width: 540px) {

	.page-container {
		box-sizing: border-box;
		padding: 0 50px;
	}
}

@media screen and (min-width: 650px) {

	.about-container {
		width: 550px;
	}
}

@media screen and (min-width: 698px) {

	.project {
		margin: 10px;
	}
}


@media screen and (min-width: 900px) {

	.about-container,#projects {
		width: 700px;
	}
}

@media screen and (min-width: 1200px) {

	.about-container, #projects {
		width: 900px;
	}
}
