html, body {
	background-color: steelblue;
	margin: 0px;
	height: 100%;
}

* {
	-webkit-tap-highlight-color: transparent;
}

nav {
	padding: 20px;
	font-family: monospace;
	font-size: 22px;
	font-weight: bold;
	background-color: #f8f9fa;
	display: flex;
	flex-direction: row;
}

.nav-links {
	flex: 1;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.nav-links li{
	margin: 0 20px;
}

.link-item, .drop-down {
	cursor: pointer;
}

.disabled {
	color: gray;
	cursor: default;
}

.search-bar {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.search {
	flex: 1;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.search input {
	box-sizing: border-box;
	height: 24px;
	border: 1px solid gray;
	padding: 0px 2px;
	font-family: monospace;
}

.search button {
	box-sizing: border-box;
	height: 24px;
	border: 1px solid gray;
	border-left: none; 
	padding: 0px 10px;
	font-family: monospace;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

.drop-down-links {
	position: absolute;
	list-style: none;
	margin: 0px;
	padding: 10px 0px;
	background-color: #f8f9fa;
	outline: 1px solid #ededed;
	-webkit-box-shadow: 6px 7px 11px -2px rgba(71,71,71,1);
	-moz-box-shadow: 6px 7px 11px -2px rgba(71,71,71,1);
	box-shadow: 6px 7px 11px -2px rgba(71,71,71,1);
}

.drop-down-links .link-item {
	margin: 0px;
	font-size: 18px;
	padding: 0px 10px;
	line-height: 30px;
}

.hidden {
	display: none;
}

#nav-trigger {
	box-sizing: border-box;
	flex: 0 0 30px;
	color: gray;
	font-size: 24px;
	padding: 1px;
	cursor: pointer;
	display: none;
}

.search button:hover {
	background-color: #f8f9fa;
	text-decoration: underline;
}

.link-item:hover {
	text-decoration: underline;
}

.drop-down-links .link-item:hover {
	background-color: #e3e5e8;
	text-decoration: none;
}


@media screen and (max-width: 960px) {

	nav {
		padding: 13px;
		font-size: 17px;
	}

	.drop-down-links .link-item {
		font-size: 14px;
		padding: 0px 7px;
		line-height: 25px;
	}

	.search input {
		height: 20px;
	}

	.search button {
		height: 20px;
	}
}

@media screen and (max-width: 870px) {

	nav{
		padding: 5px;
	}

	.nav-links {
		flex-direction: column;
	}

	.nav-links li {
		margin: 5px 1px 5px 5px;
		display: none;
	}

	#name {
		display: inline;
	}

	.search {
		justify-content: flex-start;
	} 

	.drop-down-links {
		position: relative;
		box-shadow: none;
		background-color: white;
	}

	.drop-down-links .link-item:hover {
		background-color: #f8f9fa;
	}

	#nav-trigger {
		display: inline;
	}
}
